# ===== OZON кабинеты (можно добавлять _3, _4, ...) =====
OZON_CLIENT_ID_1=111111
OZON_API_KEY_1=your_api_key_1

OZON_CLIENT_ID_2=222222
OZON_API_KEY_2=your_api_key_2

# ===== фильтр таймслота (опционально) =====
TIMEZONE=Asia/Krasnoyarsk
MIN_DATE=2025-12-03
