# ===== OZON кабинеты (можно добавлять _3, _4, ...) =====
OZON_CLIENT_ID_1=111111
OZON_API_KEY_1=your_api_key_1

OZON_CLIENT_ID_2=222222
OZON_API_KEY_2=your_api_key_2

# ===== фильтр таймслота (опционально) =====
TIMEZONE=Asia/Krasnoyarsk
MIN_DATE=2025-12-03

SUPPLY_STATES=READY_TO_SUPPLY,ACCEPTED_AT_SUPPLY_WAREHOUSE,IN_TRANSIT,ACCEPTANCE_AT_STORAGE_WAREHOUSE,REPORTS_CONFIRMATION_AWAITING,COMPLETED,REJECTED_AT_SUPPLY_WAREHOUSE,REPORT_REJECTED

MS_TOKEN=PUT_TOKEN_HERE
MS_MODE=DRY

MS_ORGANIZATION_ID=PUT_ID_HERE
MS_AGENT_ID=PUT_ID_HERE
MS_STORE_ID=PUT_ID_HERE
MS_STATE_ID=PUT_ID_HERE

# Канал продаж по кабинетам
MS_SALESCHANNEL_ID_OZON_1=PUT_ID_HERE
MS_SALESCHANNEL_ID_OZON_2=PUT_ID_HERE

MS_NAME_PREFIX=OZON FBO
MS_COMMENT_PREFIX=Ozon FBO supply-order

# offer_id Ozon == article MS
MS_KIT_RULES=10264-А93:10264+11291;00020-А92:00020+11278;00026-В92:00026+11284;00493-Е90:00493+11287

